# Stupid vim files
*.swp

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.xcuserstate
_Output.txt
_FileInformation.txt
Merlin32Test
error_output.txt
merlin32
Breakpoints_v2.xcbkptlist
/vcxproj/Debug/merlin32.Build.CppClean.log
/vcxproj/Debug/merlin32.tlog/CL.command.1.tlog
/vcxproj/Debug/merlin32.tlog/merlin32.lastbuildstate
/vcxproj/Debug/merlin32.tlog/unsuccessfulbuild
/vcxproj/Debug/merlin32.vcxproj.FileListAbsolute.txt
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/vcxproj/merlin32.vcxproj.user
/vcxproj/x64/Debug/merlin32.Build.CppClean.log
/vcxproj/x64/Debug/merlin32.exe.recipe
/vcxproj/x64/Debug/merlin32.log
/vcxproj/x64/Debug/merlin32.tlog/CL.command.1.tlog
/vcxproj/x64/Debug/merlin32.tlog/Cl.items.tlog
/vcxproj/x64/Debug/merlin32.tlog/CL.read.1.tlog
/vcxproj/x64/Debug/merlin32.tlog/CL.write.1.tlog
/vcxproj/x64/Debug/merlin32.tlog/link.command.1.tlog
/vcxproj/x64/Debug/merlin32.tlog/link.read.1.tlog
/vcxproj/x64/Debug/merlin32.tlog/link.write.1.tlog
/vcxproj/x64/Debug/merlin32.tlog/merlin32.lastbuildstate
/vcxproj/x64/Debug/merlin32.vcxproj.FileListAbsolute.txt
/vcxproj/x64/Release/merlin32.Build.CppClean.log
/vcxproj/x64/Release/merlin32.exe.recipe
/vcxproj/x64/Release/merlin32.iobj
/vcxproj/x64/Release/merlin32.ipdb
/vcxproj/x64/Release/merlin32.log
/vcxproj/x64/Release/merlin32.tlog/CL.command.1.tlog
/vcxproj/x64/Release/merlin32.tlog/Cl.items.tlog
/vcxproj/x64/Release/merlin32.tlog/CL.read.1.tlog
/vcxproj/x64/Release/merlin32.tlog/CL.write.1.tlog
/vcxproj/x64/Release/merlin32.tlog/link.command.1.tlog
/vcxproj/x64/Release/merlin32.tlog/link.read.1.tlog
/vcxproj/x64/Release/merlin32.tlog/link.write.1.tlog
/vcxproj/x64/Release/merlin32.tlog/link.write.2u.tlog
/vcxproj/x64/Release/merlin32.tlog/merlin32.lastbuildstate
/vcxproj/x64/Release/merlin32.vcxproj.FileListAbsolute.txt
/vcxproj/x64/Debug/a65816_Code.nativecodeanalysis.sarif
/vcxproj/x64/Debug/a65816_Code.nativecodeanalysis.xml
/vcxproj/x64/Debug/a65816_Cond.nativecodeanalysis.sarif
/vcxproj/x64/Debug/a65816_Cond.nativecodeanalysis.xml
/vcxproj/x64/Debug/a65816_Data.nativecodeanalysis.sarif
/vcxproj/x64/Debug/a65816_Data.nativecodeanalysis.xml
/vcxproj/x64/Debug/a65816_File.nativecodeanalysis.sarif
/vcxproj/x64/Debug/a65816_File.nativecodeanalysis.xml
/vcxproj/x64/Debug/a65816_Line.nativecodeanalysis.sarif
/vcxproj/x64/Debug/a65816_Line.nativecodeanalysis.xml
/vcxproj/x64/Debug/a65816_Link.nativecodeanalysis.sarif
/vcxproj/x64/Debug/a65816_Link.nativecodeanalysis.xml
/vcxproj/x64/Debug/a65816_Lup.nativecodeanalysis.sarif
/vcxproj/x64/Debug/a65816_Lup.nativecodeanalysis.xml
/vcxproj/x64/Debug/a65816_Macro.nativecodeanalysis.sarif
/vcxproj/x64/Debug/a65816_Macro.nativecodeanalysis.xml
/vcxproj/x64/Debug/a65816_OMF.nativecodeanalysis.sarif
/vcxproj/x64/Debug/a65816_OMF.nativecodeanalysis.xml
/vcxproj/x64/Debug/CodeAnalysisResultManifest.txt
/vcxproj/x64/Debug/Dc_Library.nativecodeanalysis.sarif
/vcxproj/x64/Debug/Dc_Library.nativecodeanalysis.xml
/vcxproj/x64/Debug/Main.nativecodeanalysis.sarif
/vcxproj/x64/Debug/Main.nativecodeanalysis.xml
/vcxproj/x64/Debug/vc.nativecodeanalysis.all.xml
/vcxproj/x64/Release
/vcxproj/x64/Release/a65816_Code.nativecodeanalysis.sarif
/vcxproj/x64/Release/a65816_Code.nativecodeanalysis.xml
/vcxproj/x64/Release/a65816_Cond.nativecodeanalysis.sarif
/vcxproj/x64/Release/a65816_Cond.nativecodeanalysis.xml
/vcxproj/x64/Release/a65816_Data.nativecodeanalysis.sarif
/vcxproj/x64/Release/a65816_Data.nativecodeanalysis.xml
/vcxproj/x64/Release/a65816_File.nativecodeanalysis.sarif
/vcxproj/x64/Release/a65816_File.nativecodeanalysis.xml
/vcxproj/x64/Release/a65816_Line.nativecodeanalysis.sarif
/vcxproj/x64/Release/a65816_Line.nativecodeanalysis.xml
/vcxproj/x64/Release/a65816_Link.nativecodeanalysis.sarif
/vcxproj/x64/Release/a65816_Link.nativecodeanalysis.xml
/vcxproj/x64/Release/a65816_Lup.nativecodeanalysis.sarif
/vcxproj/x64/Release/a65816_Lup.nativecodeanalysis.xml
/vcxproj/x64/Release/a65816_Macro.nativecodeanalysis.sarif
/vcxproj/x64/Release/a65816_Macro.nativecodeanalysis.xml
/vcxproj/x64/Release/a65816_OMF.nativecodeanalysis.sarif
/vcxproj/x64/Release/a65816_OMF.nativecodeanalysis.xml
/vcxproj/x64/Release/CodeAnalysisResultManifest.txt
/vcxproj/x64/Release/Dc_Library.nativecodeanalysis.sarif
/vcxproj/x64/Release/Dc_Library.nativecodeanalysis.xml
/vcxproj/x64/Release/Main.nativecodeanalysis.sarif
/vcxproj/x64/Release/Main.nativecodeanalysis.xml
/vcxproj/x64/Release/vc.nativecodeanalysis.all.xml
/vcxproj/x64/Debug/merlin32.exe.lastcodeanalysissucceeded
/vcxproj/x64/Debug/NativeCodeAnalysis.read.1.tlog
